# Temp files.
*.pyc
__pycache__/

# Build cache.
/build/
/dist/
/nanomyth.egg-info/

# Game files.
/demo/game.sav
/demo/game?.sav

# Demo tileset
/demo/DawnLike/DawnLike.zip
/demo/DawnLike/README.txt
/demo/DawnLike/*/*.png
/demo/DawnLike/*/*.gif
/demo/DawnLike/*/*.ttf
/demo/DawnLike/*/*.tmx
/demo/DawnLike/*/*.ase
/demo/5DragonsBkgds/5DragonsBkgds/*.png
/demo/5DragonsBkgds/5DragonsBkgds.zip
/demo/8x8Text/8x8Text.zip
/demo/8x8Text/*.png
